# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
cli-notes-app-linux-amd64
cli-notes-app-windows-amd64.exe
cli-notes-app-darwin-amd64

# Go workspace file
go.work
go.work.sum

# IDE/editor files
.vscode/
.idea/
*.swp
